.flex-2{
    display: flex;
    
    align-content: center;
}

.user-box{
    width: 30%;
    text-align: center;
}

.user-box img{
    width: 30%;
}

.post-box{
    margin-left: 35px;
}

.user-box textarea{
    width: 90%;
    text-align: center;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.success{
    color: green;
    font-style: italic;
    width: 50%;
    margin: auto;
    text-align: center;
}

.success a{
    color: var(--purple-color);
    text-decoration: none;
}

.success a:hover{
    text-decoration: underline;
}